<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layout/top :: top}"></th:block>
    </head>
    <body>
        <div class="container">
            <h1>Confirm product information</h1>
            <div class="h4 mb-3">Please confirm whether the following information is correct：</div>
            <div class="product-form mb-3">
                <div class="form-group"><label>Product Name:</label> <span th:text="${product.name}"></span></div>
                <div class="form-group"><label>Price:</label> <span th:text="${product.price}"></span></div>
            </div>
            <!-- Confirmation Form -->
            <div class="d-flex flex-wrap">
                <form th:action="@{/confirm-product}" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{name}" />
                    <input type="hidden" th:field="*{price}" />
                    <button type="submit" class="btn-save">Confirm submission</button>
                </form>
                <!-- Cancel form -->
                <form th:action="@{/cancel-product}" class="ms-3" method="post">
                    <button type="submit" class="btn-cancel">Cancel</button>
                </form>
            </div>

            <!-- Insert footer.html -->
            <div th:insert="~{layout/footer :: footer}"></div>
        </div>
    </body>
</html>
