<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layout/top :: top}"></th:block>
    </head>
    <body>
        <!--breadcrumb-->
        <div th:insert="~{layout/breadcrumb :: breadcrumb}"></div>

        <div class="container">
            <div class="user-info text-end">
                <span th:text="${currentUserName}"></span> | <a href="/logout">Log out</a>
            </div>

            <h1 th:text="${id} ? 'Edit Products' : 'New Products'"></h1>
            <form th:action="${id} ? @{/edit/{id}(id=${id})} : @{/add}" th:object="${product}" method="post" class="product-form">
                <div class="form-group">
                    <label>name: </label>
                    <input type="text" th:field="*{name}" required/>
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <input type="number" step="0.01" th:field="*{price}" required/>
                </div>
                <div class="form-group">
                    <label>Describe:</label><br/>
                    <textarea th:field="*{description}" required></textarea>
                </div>
                <button type="submit" class="btn-save my-3">Save</button>
            </form>
            <a href="/">Back to product list</a>
            <!-- Insert footer.html -->
            <div th:insert="~{layout/footer :: footer}"></div>
        </div>
    </body>
</html>
