<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layout/top :: top}"></th:block>
    </head>
    <body>
        <!--breadcrumb-->
        <div th:insert="~{layout/breadcrumb :: breadcrumb}"></div>
        <div class="container">
            <h1>Register</h1>
            <div th:if="${error}" class="error" th:text="${error}"></div>
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="email" th:field="*{email}" required/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" th:field="*{password}" required/>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" th:field="*{name}" required/>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
                    </div>
                    <button type="submit">註冊</button>
                </div>
            </form>
        </div>
    </body>
</html>