// Set the font-family variable
//@import "custom/all";

$primary: #bbccef;
$secondary:#872d0d;
$third: #778dad;
$fourth: #4ea1a1;
$danger: red;
$white: #fff;
$header: #6c3e3e;
$link: #3877f8;
$linkHover: #052b7c;
$divStriped:#f2f2f2;

//Components
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "third":  $third,
  "fourth": $fourth,
  "danger":$danger,
  "white":$white,
  "header":$header,
  "link":$link,
  "linkHover":$linkHover,
  "divStriped":$divStriped
);

$font-family-base: "Hind Madurai", "微軟正黑體", sans-serif;
@import "all";
@import "../node_modules/scss/bootstrap";